{{#*inline "body"}}
<main class="gh-main">
    {{#with tag}}
        {{> partials/components/tag-header}}
    {{/with}}
    {{> partials/components/list layout="simple" showExcerpt=true showPublishedAt=true hasPagination=true}}
</main>
{{/inline}}
{{> default}}